// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar {
    margin-bottom: 30px !important;
}

.nav-item.cta {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#sign-up-btn {
    padding: 10px;
    width: 150px;
}

.button .appoint-radio {
    display: none;
}

.appoint-radio:checked + div {
    background: #b8f0b8f2;
    color: #fff;
}

.free-hour-label {
    text-align: center;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-top: 13%;
}

.free-hour {
    &.button {
        display: inline-block;
    }

    margin-right: 25px;
}

.time.card {
    width: 100px;
    height: 50px;
    border: none !important;
}

.login-card {
    margin-top: 50px !important;
}

.dashboard-card {
    width: 60%;
    margin-right: 3%;
    padding: 30px;
    border-radius: 5px;
}

.calendar-card {
    padding: 20px;
    border-radius: 5px;
}

#caleandar {
    padding-top: 8% !important;
}
 
.treatment-heading, .diagnosis-heading {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.treatment-icon {
    height: 60px;
    fill: red;
}

.card {
    &.register {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        border-radius: 10px !important;
    }
    border: none !important;
}

.centered-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}

.heading {
    margin-bottom: 1.5em;
}

.history-card {
    margin-bottom: 25px;
}

.history-wrapper p {
    margin: 0;
}

.history-heading {
    font-size: 1.5em;
}

.history-time, .history-date {
    text-align: center;
}

.history-link {
    button {
        :hover {
            color: #167CE9;
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: white; 
        }      
    } 
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-card {
    padding: 30px;
    border: none;
}

.appoint-check-btn {
    margin-top: 20px;
}

.appointment-date {
    font-size: 1.5em;
    display: inline-block;
}

.appointment-time {
    display: inline-block;
    position: absolute;
    font-size: 0.75em;
    padding-bottom: 1em;
    top: 67%;
    left: 45%;
}

.reserve-btn {
    margin-left: 2.5%;
    margin-top: 1%;
}
